/* global.css */

html {
  height: 100%; /* html 전체를 100% 높이로 설정 */
}

body {
  min-height: 100%; /* body의 최소 높이를 화면 높이로 설정 */
  margin: 0;
  padding: 0;
  background-color: #ffffff !important; /* 원하는 배경색 */
  display: flex;
  flex-direction: column;
}
