/* global.css */

html {
  height: 100%; /* html 전체를 100% 높이로 설정 */
}

body {
  min-height: 100%; /* body의 최소 높이를 화면 높이로 설정 */
  margin: 0;
  padding: 0;
  background-color: #f9f4e9 !important; /* 원하는 배경색 */
  font-family: 'GyeonggiCheonnyeon', sans-serif !important; /* 폰트 강제 적용 */
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: 'GyeonggiCheonnyeon'; /* 폰트 이름 */
  src: url('/fonts/GyeonggiCheonnyeon.ttf') format('truetype'); /* 폰트 경로 */
  font-weight: normal; /* 폰트 굵기 */
  font-style: normal; /* 폰트 스타일 */
}
